In [60]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np
import gzip

In [6]:
# load the 2017 data
with gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
    scripts = pd.read_csv(f)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
with gzip.open('./dw-data/practices.csv.gz', 'rb') as f:
    practices = pd.read_csv(f, header=None)
practices.columns = col_names
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [8]:
with gzip.open('./dw-data/chem.csv.gz', 'rb') as f:
    chem = pd.read_csv(f)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [9]:
summary = scripts[['items', 'quantity', 'nic', 'act_cost']].describe()
summary

               items       quantity            nic       act_cost
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136     741.329835      73.058915      67.986613
std        29.204198    3665.426958     188.070257     174.401703
min         1.000000       0.000000       0.000000       0.040000
25%         1.000000      28.000000       7.800000       7.330000
50%         2.000000     100.000000      22.640000      21.220000
75%         6.000000     350.000000      65.000000      60.670000
max      2384.000000  577720.000000   16320.000000   15108.320000

In [10]:
summary_stats = [(col, (scripts[col].sum(), summary.loc['mean', col], summary.loc['std', col], summary.loc['25%', col], summary.loc['50%', col], summary.loc['75%', col])) for col in summary.columns]

In [11]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [12]:
item_by_bnf = scripts.groupby('bnf_name')['items'].sum()
max_item = item_by_bnf.max()

In [13]:
item_by_bnf.sort_values(ascending=False, inplace=True)
item_by_bnf = item_by_bnf.reset_index()

In [14]:
most_common_item = [(item_by_bnf.iloc[0, 0], item_by_bnf.iloc[0, 1])]
print(most_common_item)

[('Omeprazole_Cap E/C 20mg', 218583)]

In [15]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [16]:
practice_post = practices.groupby('code')['post_code'].unique().reset_index()
practice_post['post'] = practice_post['post_code'].apply(lambda list: sorted(list)[0])
practice_post.set_index('code', inplace=True)
practice_post.head()

                   post_code      post
code
A81001            [TS18 1HU]  TS18 1HU
A81002            [TS18 2AW]  TS18 2AW
A81003  [TS26 8DB, TS25 1QU]  TS25 1QU
A81004    [TS1 3BE, TS5 8SB]   TS1 3BE
A81005            [TS14 7DJ]  TS14 7DJ

In [17]:
scripts['post_code'] = scripts['practice'].apply(lambda code: practice_post.loc[code, 'post'])
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF

In [18]:
post_sum = scripts.groupby('post_code')['items'].sum().reset_index()
post_sum.head()

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [19]:
post_items = scripts.groupby(['post_code', 'bnf_name']).agg({'items': 'sum'}).reset_index().sort_values(['post_code', 'items', 'bnf_name'], ascending=[True, False, True])
post_items.head()

     post_code                            bnf_name  items
1628   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF    706
1451   B11 4BW                   Paracet_Tab 500mg    451
1217   B11 4BW             Metformin HCl_Tab 500mg    387
1093   B11 4BW    Lansoprazole_Cap 30mg (E/C Gran)    385
76     B11 4BW               Amoxicillin_Cap 500mg    350

In [20]:
post_max_bnf = post_items.groupby('post_code').agg({'bnf_name': (lambda list: list.iloc[0])}).reset_index()
post_max_bnf.head()

  post_code                            bnf_name
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP                   Paracet_Tab 500mg
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY             Metformin HCl_Tab 500mg
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)

In [21]:
post_max_items = post_items.groupby('post_code')['items'].max().reset_index()
post_max_items.head()

  post_code  items
0   B11 4BW    706
1   B12 9LP    425
2   B18 7AL    556
3   B21 9RY   1033
4   B23 6DJ    599

In [22]:
item_by_post = post_max_bnf.merge(post_max_items, on='post_code').merge(post_sum, on='post_code')
item_by_post.columns = ['post_code', 'bnf_name', 'items_max', 'items_sum']
item_by_post.head()

  post_code                            bnf_name  items_max  items_sum
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF        706      22731
1   B12 9LP                   Paracet_Tab 500mg        425      17073
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF        556      20508
3   B21 9RY             Metformin HCl_Tab 500mg       1033      31027
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)        599      28011

In [23]:
items_by_region = [(row[0], row[1], row[2] / row[3]) for index, row in item_by_post.iterrows()]
items_by_region = items_by_region[:100]

In [24]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [25]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [26]:
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [27]:
chem = chem.sort_values('CHEM SUB').drop_duplicates(subset='CHEM SUB')

In [28]:
scripts = scripts.merge(chem, how='left', left_on='bnf_code', right_on='CHEM SUB')

scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,CHEM SUB,NAME
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,0106020C0,Bisacodyl
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,0106040M0,Macrogol 3350
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,0301011R0,Salbutamol
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,0304010G0,Chlorphenamine Maleate
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,0401020K0,Diazepam

In [29]:
scripts.rename(columns={'NAME': 'chem'}, inplace=True)
scripts.drop('CHEM SUB', axis=1, inplace=True)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,chem
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,Bisacodyl
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,Macrogol 3350
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,Chlorphenamine Maleate
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,Diazepam

In [30]:
import re
scripts['opioid'] = scripts['chem'].str.contains('morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine', flags=re.I)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,chem,opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,Bisacodyl,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,Macrogol 3350,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,Chlorphenamine Maleate,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,Diazepam,False

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [31]:
practice_sum = scripts['practice'].value_counts().reset_index()
practice_sum.columns = ['practice', 'sum']
practice_sum.head()

  practice   sum
0   N83028  2844
1   L83100  2797
2   D81043  2459
3   B81008  2396
4   B81026  2347

In [32]:
scripts['opioid'].fillna(False, inplace=True)
scripts.astype({'opioid': 'int'}, copy=False)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,chem,opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,Bisacodyl,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,Macrogol 3350,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,Chlorphenamine Maleate,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,Diazepam,0
5,N85639,0406000T0,Prochlpzine Mal_Tab 5mg,1,0.97,0.91,28,CH44 5UF,Prochlorperazine Maleate,0
6,N85639,0407010F0,Co-Codamol_Cap 30mg/500mg,1,0.84,0.89,24,CH44 5UF,Co-Codamol (Codeine Phos/Paracetamol),1
7,N85639,0407010F0,Zapain_Tab 30mg/500mg,1,3.03,2.82,100,CH44 5UF,Co-Codamol (Codeine Phos/Paracetamol),1
8,N85639,0407010H0,Paracet_Oral Susp Paed 120mg/5ml,1,0.62,0.69,100,CH44 5UF,Paracetamol,0
9,N85639,0501011P0,Phenoxymethylpenicillin Pot_Tab 250mg,2,5.94,5.72,160,CH44 5UF,Phenoxymethylpenicillin (Penicillin V),0
10,N85639,0501012G0,Fluclox Sod_Cap 500mg,1,2.17,2.02,28,CH44 5UF,Flucloxacillin Sodium,0
11,N85639,0501012G0,Fluclox Sod_Oral Soln 250mg/5ml,1,26.04,24.12,100,CH44 5UF,Flucloxacillin Sodium,0
12,N85639,0501013B0,Amoxicillin_Cap 500mg,3,3.81,3.56,63,CH44 5UF,Amoxicillin,0
13,N85639,0501013B0,Amoxicillin_Oral Susp 250mg/5ml,1,2.26,2.10,200,CH44 5UF,Amoxicillin,0
14,N85639,0501021L0,Cefalexin_Tab 500mg,1,1.75,1.73,20,CH44 5UF,Cefalexin,0
15,N85639,0501030I0,Doxycycline Hyclate_Cap 100mg,3,2.61,2.45,24,CH44 5UF,Doxycycline Hyclate,0
16,N85639,0501050B0,Clarithromycin_Oral Susp 125mg/5ml,1,4.06,3.77,70,CH44 5UF,Clarithromycin,0
17,N85639,0501080W0,Trimethoprim_Tab 200mg,2,1.64,1.55,20,CH44 5UF,Trimethoprim,0
18,N85639,0501130R0,Nitrofurantoin_Cap 100mg M/R,1,4.07,3.88,6,CH44 5UF,Nitrofurantoin,0
19,N85639,0603020T0,Prednisolone_Tab 5mg,3,4.22,4.14,136,CH44 5UF,Prednisolone,0
20,N85639,0902012H0,Gppe Pdr Sach_Dioralyte Relief S/F,1,2.50,2.33,6,CH44 5UF,Oral Rehydration Salts,0
21,N85639,1001010J0,Ibuprofen_Oral Susp 100mg/5ml,1,1.78,1.76,100,CH44 5UF,Ibuprofen,0
22,N85639,1103010C0,Chloramphen_Eye Dps 0.5%,2,3.04,2.84,20,CH44 5UF,Chloramphenicol,0
23,N85639,1103010C0,Chloramphen_Eye Oint 1%,1,2.27,2.11,4,CH44 5UF,Chloramphenicol,0
24,N85639,1203010E0,Difflam_P/Spy 0.15% 30ml,1,4.24,3.94,1,CH44 5UF,Benzydamine Hydrochloride,0
25,N85639,1502010J0,Instillagel_Gel 6ml Pfs,1,14.05,13.02,60,CH44 5UF,Lidocaine Hydrochloride,0
26,N85639,210102301,Able Spacer,1,4.39,4.08,1,CH44 5UF,NaN,0
27,N85647,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol,0
28,N85647,0407010H0,Paracet_Oral Susp Paed 120mg/5ml,1,0.62,0.69,100,CH44 5UF,Paracetamol,0
29,N85647,0501013B0,Amoxicillin_Oral Susp 250mg/5ml,1,1.13,1.06,100,CH44 5UF,Amoxicillin,0
...,...,...,...,...,...,...,...,...,...,...
973163,H81615,231534515,Pelican_Release Non-Sting Adh Remover A/,2,38.44,35.62,4,GU9 9QS,NaN,0
973164,H81615,231560015,C D Medical_Peel Easy Adh Remover Spy 50,1,28.40,26.29,4,GU9 9QS,NaN,0
973165,H81615,232502625,AMI_Suportx Ostomy Support Mens Shorts D,1,19.62,18.16,2,GU9 9QS,NaN,0
973166,H81615,232502625,AMI_Suportx Ostomy Support Mens Trunks D,1,39.24,36.33,4,GU9 9QS,NaN,0
973167,H81615,233510037,Coloplast_SenSura Midi Closed Bag S/Cove,1,177.50,164.32,60,GU9 9QS,NaN,0
973168,H81615,234506045,Bullen_NA'Scent Odour Eliminator,1,11.97,11.08,236,GU9 9QS,NaN,0
973169,H81615,234510045,Coloplast_Brava Lubricating Deod 240ml,1,8.46,7.84,1,GU9 9QS,NaN,0
973170,H81615,234533745,Respond_OstoMart OstoZyme M/Odour Neutra,1,16.16,14.96,2,GU9 9QS,NaN,0
973171,H81615,234544045,Shaw_Forest Breeze Deod,1,7.70,7.14,2,GU9 9QS,NaN,0
973172,H81615,236007062,Dansac_Nova 1 Drnbl + E/Fld Ileo Bag Sym,1,176.16,163.09,60,GU9 9QS,NaN,0
973173,H81615,236007063,Dansac_Nova 1 Convex E/Fld Drnbl Ileo Ba,1,245.28,227.07,60,GU9 9QS,NaN,0
973174,H81615,236010063,Coloplast_Sensura Mio Maxi DrnblBag Grey,1,99.63,92.23,30,GU9 9QS,NaN,0
973175,H81615,236056062,Welland_FreeStyle Vie Convex Drnbl Pch M,1,220.75,204.36,50,GU9 9QS,NaN,0
973176,H81615,238009080,CliniMed_LBF Ster No Sting Barrier Film,2,76.14,70.50,3,GU9 9QS,NaN,0
973177,H81615,238020980,H & R_Proshield Plus Skin Prote 115g,9,119.28,110.51,12,GU9 9QS,NaN,0
973178,H81615,238031080,3m Health Care_Cavilon No Sting Barrier,4,141.00,130.54,180,GU9 9QS,NaN,0
973179,H81615,238031080,3m Health Care_Cavilon Durable Barrier C,2,16.24,15.05,2,GU9 9QS,NaN,0
973180,H81615,238033680,Opus_SkinSafe Non Sting Prote Film,1,36.76,34.04,1,GU9 9QS,NaN,0
973181,H81615,238048080,Convatec_Orabase Paste 30g,3,8.56,7.93,4,GU9 9QS,NaN,0
973182,H81615,238501085,Hollister_Adapt Barrier Rings 98mm,2,180.08,166.74,80,GU9 9QS,NaN,0
973183,H81615,238510085,Coloplast_Brava Mouldable Rings 48mm x 2,1,58.39,54.05,30,GU9 9QS,NaN,0
973184,H81615,239401097,Hollister_Conform 2 Flat Barrier +Adh 45,1,98.28,90.98,30,GU9 9QS,NaN,0
973185,H81615,239407096,Dansac_Nova 2 Flng 43mm P/Cut 30mm,1,47.46,43.94,15,GU9 9QS,NaN,0
973186,H81615,239407098,Dansac_NovaLife 2 Open Pouch Maxi Opqe 4,1,212.04,196.30,120,GU9 9QS,NaN,0
973187,H81615,239410093,Coloplast_SenSura Flex Drnbl Bag Maxi Op,2,105.02,97.22,60,GU9 9QS,NaN,0
973188,H81615,239410100,Coloplast_SenSura Mio Flex B/Plt 50mm C/,1,78.92,73.06,20,GU9 9QS,NaN,0
973189,H81615,239410100,Coloplast_SenSura Mio Flex Clsd Bag Mini,1,106.36,98.46,60,GU9 9QS,NaN,0
973190,H81615,239410100,Coloplast_SenSura Mio Flex Clsd Bag Midi,1,159.54,147.69,90,GU9 9QS,NaN,0
973191,H81615,239607096,Dansac_Nova 1 Convex Urost Pouch Clr C/F,2,329.76,305.28,60,GU9 9QS,NaN,0
973192,H81615,239610096,Coloplast_SenSura Mio Urost Bag Maxi Tra,1,182.48,168.93,30,GU9 9QS,NaN,0

In [33]:
practice_opi = scripts.groupby('practice')['opioid'].mean().reset_index()
practice_opi.head()

  practice    opioid
0   A81005  0.033179
1   A81007  0.043329
2   A81011  0.046556
3   A81012  0.042793
4   A81017  0.038140

In [34]:
practice_opi = practice_opi.merge(practice_sum, on='practice')
practice_opi.head()

  practice    opioid   sum
0   A81005  0.033179  1507
1   A81007  0.043329  1454
2   A81011  0.046556  1568
3   A81012  0.042793  1332
4   A81017  0.038140  2150

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [35]:
opioids_mean = scripts['opioid'].mean()

In [36]:
practice_opi['relative_opi'] = practice_opi['opioid'] - opioids_mean
practice_opi.head()

  practice    opioid   sum  relative_opi
0   A81005  0.033179  1507     -0.002624
1   A81007  0.043329  1454      0.007526
2   A81011  0.046556  1568      0.010753
3   A81012  0.042793  1332      0.006990
4   A81017  0.038140  2150      0.002337

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [37]:
std_opi = scripts['opioid'].std()

In [38]:
practice_opi['std_error'] = std_opi / ((practice_opi['sum'])**0.5)
practice_opi['opi_score'] = practice_opi['relative_opi'] / practice_opi['std_error']
practice_opi

    practice    opioid   sum  relative_opi  std_error  opi_score
0     A81005  0.033179  1507     -0.002624   0.004786  -0.548306
1     A81007  0.043329  1454      0.007526   0.004873   1.544557
2     A81011  0.046556  1568      0.010753   0.004692   2.291795
3     A81012  0.042793  1332      0.006990   0.005091   1.373060
4     A81017  0.038140  2150      0.002337   0.004007   0.583168
..       ...       ...   ...           ...        ...        ...
851   Y05570  0.090909    22      0.055106   0.039612   1.391142
852   Y05583  0.000000    28     -0.035803   0.035113  -1.019657
853   Y05597  0.000000    18     -0.035803   0.043793  -0.817544
854   Y05660  0.023055   347     -0.012748   0.009974  -1.278102
855   Y05670  0.000000    12     -0.035803   0.053635  -0.667522

[856 rows x 6 columns]

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [39]:
practice_names = practices.groupby('code')['name'].unique().reset_index()
practice_names['pr_name'] = practice_names['name'].apply(lambda list: sorted(list)[0])
practice_names = practice_names.rename(columns={'code': 'practice'})
practice_names.head()

,practice,name,pr_name
0,A81001,[THE DENSHAM SURGERY],THE DENSHAM SURGERY
1,A81002,[QUEENS PARK MEDICAL CENTRE],QUEENS PARK MEDICAL CENTRE
2,A81003,[VICTORIA MEDICAL PRACTICE],VICTORIA MEDICAL PRACTICE
3,A81004,"[WOODLANDS ROAD SURGERY, BLUEBELL MEDICAL CENTRE]",BLUEBELL MEDICAL CENTRE
4,A81005,[SPRINGWOOD SURGERY],SPRINGWOOD SURGERY

In [40]:
practice_opi = practice_opi.merge(practice_names, on='practice')
practice_opi.drop('name', axis=1, inplace=True)
practice_opi.head()

,practice,opioid,sum,relative_opi,std_error,opi_score,pr_name
0,A81005,0.033179,1507,-0.002624,0.004786,-0.548306,SPRINGWOOD SURGERY
1,A81007,0.043329,1454,0.007526,0.004873,1.544557,BANKHOUSE SURGERY
2,A81011,0.046556,1568,0.010753,0.004692,2.291795,CHADWICK PRACTICE
3,A81012,0.042793,1332,0.006990,0.005091,1.373060,WESTBOURNE MEDICAL CENTRE
4,A81017,0.038140,2150,0.002337,0.004007,0.583168,WOODBRIDGE PRACTICE

In [41]:
practice_opi.sort_values('opi_score', ascending=False, inplace=True)
practice_opi.head()

,practice,opioid,sum,relative_opi,std_error,opi_score,pr_name
714,Y01852,0.857143,7,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
754,Y03006,1.000000,2,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
772,Y03668,0.183333,60,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
261,G81703,0.194444,36,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
819,Y04997,0.087227,321,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [42]:
opi_100 = practice_opi[:100]
opi_100.head()

,practice,opioid,sum,relative_opi,std_error,opi_score,pr_name
714,Y01852,0.857143,7,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
754,Y03006,1.000000,2,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
772,Y03668,0.183333,60,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
261,G81703,0.194444,36,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
819,Y04997,0.087227,321,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [43]:
anomalies = []
for index, row in opi_100.iterrows():
    anomalies.append((row[6], row[5], row[2]))
anomalies

[('NATIONAL ENHANCED SERVICE', 11.695817862936027, 7),
 ('OUTREACH SERVICE NH / RH', 7.339043019238823, 2),
 ('BRISDOC HEALTHCARE SERVICES OOH', 6.1505817490838295, 60),
 ('H&R P C SPECIAL SCHEME', 5.123032414033079, 36),
 ('HMR BARDOC OOH', 4.958866438487605, 321),
 ('INTEGRATED CARE 24 LTD (CWSX OOH)', 4.8888781604828235, 426),
 ('DARWEN HEALTHCARE', 4.8391589686363385, 1917),
 ('THE LIMES MEDICAL PRACTICE', 4.546841872334426, 1321),
 ('IC24 LTD (BRIGHTON & HOVE OOH)', 4.335047010605197, 357),
 ('OLDHAM 7 DAY ACCESS HUB2 OOH', 4.31178403661019, 56),
 ('IC24 LTD (NORFOLK & WISBECH OOH)', 4.2575005924727645, 489),
 ('ROSSENDALE MIU & OOH', 4.256827446322491, 18),
 ('BURY WALK-IN CENTRE', 4.150589122881536, 138),
 ('IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.7816207038443523, 215),
 ('LCW HOUNSLOW CCG OOH', 3.582848546206269, 69),
 ('WEEKEND WORKING EASINGTON NORTH', 3.565938771129764, 278),
 ('COMPASS ENFIELD', 3.5587202651067935, 7),
 ('BASSETLAW DRUG & ALCOHOL SERVICE', 3.5332641025115423, 2),
 ('THE PARK SURGERY', 3.511114736389202, 969),
 ('CHAPEL STREET SURGERY', 3.4907459502707447, 1504),
 ('BEECHWOOD MEDICAL PRACTICE', 3.4747953064338977, 1552),
 ('BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.454423428527398, 46),
 ('CARDEN SURGERY', 3.4503113243413193, 1375),
 ('GP IN A&E (WIC)', 3.3959177486386096, 87),
 ('NORTHAMPTONSHIRE OOH SERVICE', 3.39355927807245, 382),
 ('WORDEN MEDICAL CENTRE', 3.341328344384246, 1898),
 ('BRISDOC HEALTHCARE SERVICES OOH', 3.3336438396565136, 566),
 ('BURY OOH', 3.321529559970347, 292),
 ('IC24 SOUTHEND/CP&R CCG OOH', 3.2211153199464, 336),
 ('IC24 LTD (CRAWLEY OOH)', 3.1942640976202856, 173),
 ('EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.9896925335154507, 255),
 ('THE ROSEBERRY PRACTICE', 2.9803589486570257, 1450),
 ('SHAFTESBURY MEDICAL CTR.', 2.904593003935284, 2126),
 ('THE RICHMOND HILL PRACTICE', 2.8601891978583245, 1729),
 ('DGS OOH (INTEGRATED CARE 24 LTD)', 2.795651191074179, 325),
 ('THE LAKESIDE PRACTICE', 2.7801243484267157, 1554),
 ('DEWSBURY MSK SERVICE', 2.7736443521856917, 3),
 ('BRISDOC HEALTHCARE SERVICES OOH', 2.7220204978636375, 74),
 ('HALLIWELL SURGERY 1', 2.6902312553464682, 1124),
 ('THE ROYTON & CROMPTON FAMILY PRACTICE', 2.6674099502870625, 2054),
 ('PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.6526642039852844, 1936),
 ('LCWUCC - IUC NCL', 2.5927932420214392, 443),
 ('DR MOKASHI', 2.496887689055938, 1341),
 ('THE CREST FAMILY PRACTICE', 2.494358442548829, 1294),
 ('PERKINS PRACTICE', 2.479571342887134, 899),
 ('DARLASTON HEALTH CENTRE', 2.4456345065842653, 996),
 ("DR MA SIMS' PRACTICE", 2.4372766106456107, 1857),
 ('1/LOWER BROUGHTON MEDICAL PRACTICE', 2.435636753514273, 1044),
 ('CORNWALLIS PLAZA SURGERY', 2.424202462055629, 2326),
 ('FAIRMORE MEDICAL PRACTICE', 2.382408598971051, 1288),
 ('LAWLEY MEDICAL PRACTICE', 2.373577973078906, 1409),
 ("PEEL GP'S", 2.3535943384931546, 1557),
 ('EASTLANDS MEDICAL CENTRE', 2.325396683274206, 1369),
 ('MAGHULL HEALTH CENTRE (DR SAPRE)', 2.3194074094375097, 1322),
 ('INTEGRATED CARE 24 LIMITED OOH', 2.3106497615538943, 511),
 ('WILLOW BANK SURGERY', 2.295642132037915, 1934),
 ('IC24 LTD (HWLH OOH)', 2.2949004338925127, 216),
 ('CHADWICK PRACTICE', 2.2917945205697308, 1568),
 ('C&WPT OOH SERVICE', 2.270852401273787, 341),
 ('THE MERRYWOOD PRACTICE', 2.270550955639659, 1234),
 ('LEYLAND SURGERY', 2.251774286539937, 1213),
 ('WALKDEN MEDICAL PRACTICE', 2.2415736140706994, 1577),
 ('RADCLIFFE MEDICAL PRACTICE', 2.239607033459532, 1553),
 ('RIBBLESDALE GP-DR SUBBIAH', 2.209745891261483, 1100),
 ('THE MAZHARI & KHAN PRACTICE', 2.2006627122644895, 912),
 ('JAMES ALEXANDER FAMILY PRACTICE', 2.1967025909056024, 1634),
 ('B&H INTERMEDIATE CARE SERVICE', 2.1862131918267544, 456),
 ('HARDEN SURGERY', 2.155495816284959, 1228),
 ('THE GATEWAY MEDICAL PRACTICE', 2.154423496545371, 1349),
 ('QUAYSIDE MEDICAL PRACTICE', 2.1535448371359025, 1422),
 ('HASTINGS AND ROTHER OOH', 2.076490970994684, 291),
 ('FISHPONDS FAMILY PRACTICE', 2.0743592136603786, 1632),
 ('DRS CLOAK  CHOI AND MILLIGAN', 2.0511156727220916, 1661),
 ("ST MARY'S SURGERY", 2.041026500575296, 981),
 ('THE THORNTON PRACTICE', 1.9970130183083867, 1970),
 ('IC24 LTD (EAST SURREY OOH)', 1.9530599800408153, 194),
 ('CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506),
 ('PREMIER HEALTH TEAM', 1.9342677920567377, 876),
 ('CONCORD MEDICAL PRACTICE', 1.9339605744520654, 1386),
 ('COULBY MEDICAL PRACTICE', 1.9268085445885355, 1585),
 ('PARKSIDE MEDICAL CENTRE', 1.9235518278308144, 1314),
 ('THE DISCOVERY PRACTICE', 1.9047661015943373, 1268),
 ('ANCORA MEDICAL PRACTICE', 1.8854159223309173, 2347),
 ('DARWEN HEALTHLINK', 1.8822754121466374, 2019),
 ('JALAL PRACTICE', 1.8661104279692897, 885),
 ('ROOLEY LANE MED. CENTRE', 1.8635817801511316, 1522),
 ('GREAT HOMER STREET MEDICAL CENTRE', 1.813002119840964, 1062),
 ('NORTHPOINT', 1.8024326949572382, 1137),
 ('THE CRESCENT SURGERY', 1.7989165864147443, 1734),
 ('BROOKVALE PRACTICE', 1.7979440966591638, 1484),
 ('LEIGH NHS WIC', 1.7760099128664422, 162),
 ('DR SP SINGH AND PARTNERS', 1.7720416435781805, 1840),
 ('BELGRAVE SURGERY', 1.7643723369327995, 1291),
 ('THE PARKS MEDICAL PRACTICE', 1.7589687048174791, 1466),
 ('THE ROSS PRACTICE', 1.7231557395207378, 1648),
 ('THOMAS WALKER', 1.69692378556541, 1377),
 ('OAKFIELD MEDICAL PRACTICE', 1.694831695133819, 1055),
 ("DR DP CHARLES' PRACTICE", 1.691315520903282, 1353),
 ('NORTHGATE VILLAGE SURGERY', 1.6861842319656928, 1304),
 ('DR THM MACKENZIE & PARTNERS', 1.6829116043199035, 1782)]

In [44]:
grader.score.dw__script_anomalies(anomalies)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [45]:
with gzip.open('./dw-data/201606scripts_sample.csv.gz', 'rb') as f:
    scripts16 = pd.read_csv(f)
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [46]:
bnf16 = scripts16['bnf_name'].value_counts().reset_index()
bnf16.columns = ['bnf_name', 'count16']
bnf16.head()

                                   bnf_name  count16
0   GlucoRX FinePoint Needles Pen Inj Screw     1532
1  3m Health Care_Cavilon Durable Barrier C      825
2                     Fluclox Sod_Cap 500mg      796
3                     Amoxicillin_Cap 500mg      790
4                      Prednisolone_Tab 5mg      786

In [47]:
bnf17 = scripts['bnf_name'].value_counts().reset_index()
bnf17.columns = ['bnf_name', 'count17']
bnf17.head()

                                   bnf_name  count17
0   GlucoRX FinePoint Needles Pen Inj Screw     1718
1  3m Health Care_Cavilon Durable Barrier C      816
2                      Prednisolone_Tab 5mg      785
3                     Fluclox Sod_Cap 500mg      783
4                     Amoxicillin_Cap 500mg      777

In [48]:
growth = bnf16.merge(bnf17, how='inner', on='bnf_name')
growth.fillna(0, inplace=True)
growth.head()

                                   bnf_name  count16  count17
0   GlucoRX FinePoint Needles Pen Inj Screw     1532     1718
1  3m Health Care_Cavilon Durable Barrier C      825      816
2                     Fluclox Sod_Cap 500mg      796      783
3                     Amoxicillin_Cap 500mg      790      777
4                      Prednisolone_Tab 5mg      786      785

In [49]:
growth['growth_rate'] = (growth['count17'] - growth['count16']) / growth['count16']
growth.sort_values('growth_rate', ascending=False, inplace=True)
growth.head()

                                   bnf_name  count16  count17  growth_rate
10738                   Vensir XL_Cap 225mg        1       93       92.000
9639      Fludroxycortide_Tape 7.5cm x 20cm        2      106       52.000
11157                      Tamiflu_Cap 75mg        1       44       43.000
7157       Enstilar_Foam Aero 50mcg/0.5mg/g        8      225       27.125
10980  Memantine HCl_Orodisper Tab 10mg S/F        1       28       27.000

In [50]:
growth = growth[growth['count16'] >= 50]

In [51]:
script_growth = []
for index, row in growth.head(50).iterrows():
    script_growth.append((row[0], row[3], row[1]))
for index, row in growth.tail(50).iterrows():
    script_growth.append((row[0], row[3], row[1]))
script_growth

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52),
 ('Trulicity_Inj 1.5mg/0.5ml Pf Pen', 1.1851851851851851, 54),
 ('CosmoCol_Paed Oral Pdr Sach 6.9g', 1.1774193548387097, 62),
 ('Dulaglutide_Inj 1.5mg/0.5ml Pf Dev', 0.9634146341463414, 82),
 ('ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs', 0.912, 125),
 ('Empagliflozin_Tab 25mg', 0.896, 125),
 ('CareSens Lancets 0.31mm/30 Gauge', 0.8955223880597015, 67),
 ('Fostair_Inh 200mcg/6mcg (120D) CFF', 0.8616600790513834, 253),
 ('Orbis Nor Saline Sod Chlor 0.9% Nsl Dps', 0.8588235294117647, 85),
 ('Umeclidinium Brom_Inh 65mcg (30D)', 0.8275862068965517, 87),
 ('Ultibro Breezhaler_Pdr Inh Cap + Dev', 0.8016528925619835, 121),
 ('Medihoney_Barrier Crm', 0.7840909090909091, 88),
 ('Fluoxetine HCl_Oral Soln 20mg/5ml S/F', 0.7808219178082192, 73),
 ('TEE2 (Reagent)_Strips', 0.7777777777777778, 81),
 ('Laxido_Paed Plain Oral Pdr Sach 6.9g', 0.7586206896551724, 174),
 ('Zaluron XL_Tab 400mg', 0.7586206896551724, 58),
 ('Prednisolone_Oral Soln 5mg/5ml Ud', 0.726027397260274, 73),
 ('Buprenorphine_Patch 15mcg/hr (7day)', 0.7155963302752294, 109),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag S/C', 0.7037037037037037, 81),
 ('Octenisan_Antimicrobial Wsh Lot', 0.7027027027027027, 74),
 ('Duaklir Genuair_340mcg/12mcg (60D)', 0.6710526315789473, 152),
 ('Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp', 0.6419753086419753, 162),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag L/C', 0.6274509803921569, 51),
 ('Flutiform_Inha 50/5mcg (120 D)', 0.625, 88),
 ('Ins Degludec_100u/ml 3ml Pf Pen', 0.6166666666666667, 60),
 ('CareSens Lancets 0.36mm/28 Gauge', 0.6111111111111112, 90),
 ('Epimax Crm 500g', 0.61, 100),
 ('Evacal D3_Tab Chble 400u/1.5g', 0.6046511627906976, 86),
 ('Shortec_Cap 20mg', 0.6029411764705882, 68),
 ('Co-Trimoxazole_Oral Susp 40/200mg/5mlS/F', 0.6, 50),
 ('Ciprofloxacin_Gran For Susp 250mg/5ml', 0.5921052631578947, 76),
 ('AgaMatrix Ultra-Thin Lancets 0.35mm/28 G', 0.5660377358490566, 53),
 ('Zemtard 120 XL_Cap 120mg', 0.5636363636363636, 55),
 ('Nutramigen 2 + LGG_Pdr', 0.5604395604395604, 91),
 ('Toujeo_300u/ml 1.5ml Pf SoloStar Pen', 0.5408805031446541, 159),
 ('Ins Tresiba_FlexTouch 100u/ml 3ml Pf Pen', 0.5405405405405406, 148),
 ('Longtec_Tab 30mg M/R', 0.5370370370370371, 108),
 ('Adalat_Cap 5mg', 0.5365853658536586, 82),
 ('Dexameth_Oral Soln 2mg/5ml S/F', 0.5294117647058824, 68),
 ('Haloperidol_Inj 5mg/ml 1ml Amp', 0.5288461538461539, 104),
 ('Lyclear_Dermal Crm 5%', 0.5211267605633803, 71),
 ('Valupak_Multivit & Mineral Tab OAD', 0.5098039215686274, 51),
 ('Coloplast_Sensura Mio Maxi Clsd Bag + Fl', 0.5056179775280899, 89),
 ('Medikinet XL_Cap 10mg', 0.48484848484848486, 99),
 ('Dovobet_Gel Applic', 0.48148148148148145, 54),
 ('Incruse Ellipta_Inh 55mcg (30D)', 0.4807692307692308, 208),
 ('Oxycodone HCl_Tab 20mg M/R', -0.4318181818181818, 264),
 ('Cardura XL_Tab 4mg', -0.43478260869565216, 69),
 ('Oxycodone HCl_Tab 80mg M/R', -0.4358974358974359, 78),
 ('Verapamil HCl_Cap 120mg M/R', -0.43790849673202614, 153),
 ('Topamax_Tab 100mg', -0.45161290322580644, 62),
 ('Opticrom_Allergy Eye Dps 2%', -0.4523809523809524, 126),
 ('Optilast_Eye Dps 0.05%', -0.45454545454545453, 55),
 ('Actonel_Once a Week Tab 35mg', -0.4576271186440678, 59),
 ('Premique_Tab 0.625mg/5mg', -0.47039473684210525, 304),
 ('Sunsense_Daily Face Crm Spf 50+', -0.48344370860927155, 151),
 ('Hydrocort/Crotamiton_Crm 0.25%/10%', -0.48936170212765956, 141),
 ('Azelastine HCl_Aq Eye Dps 0.05%', -0.5036231884057971, 276),
 ('Opticrom_Eye Dps 2% (Aq)', -0.5073891625615764, 203),
 ('Metoprolol Tart_Tab 200mg M/R', -0.509090909090909, 55),
 ('Rapitil_Eye Dps 2%', -0.5096774193548387, 155),
 ('Desloratadine_Oral Soln 2.5mg/5ml S/F', -0.5147058823529411, 136),
 ('Erythromycin_Ethylsuc Tab 500mg', -0.5154639175257731, 97),
 ('Aquacel Foam Adhesive 8cm x 8cm Wound Dr', -0.5294117647058824, 68),
 ('Zirtek_Allergy Tab 10mg', -0.5303030303030303, 66),
 ('Antaz Sulf/Xylomet_Eye Dps 0.5%/0.05%', -0.5454545454545454, 66),
 ('Vital 1.5kcal_Liq (Vanilla)', -0.5466666666666666, 75),
 ('Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F', -0.5573770491803278, 61),
 ('Prazosin HCl_Tab 500mcg', -0.5581395348837209, 86),
 ('Artificial Saliva_Spy 50ml', -0.5586854460093896, 213),
 ('Sunsense_Ultra Lot Spf 50+', -0.5652173913043478, 368),
 ('Telfast 120_Tab 120mg', -0.5698924731182796, 93),
 ('Otrivine-Antistin_Eye Dps', -0.572463768115942, 138),
 ('Fexofenadine HCl_Tab 30mg', -0.5959595959595959, 297),
 ('Mag Trisil_Mix', -0.6119402985074627, 67),
 ('Glibenclamide_Tab 5mg', -0.6164383561643836, 146),
 ('Co-Danthrusate_Cap 50mg/60mg', -0.6296296296296297, 81),
 ('Ketotifen Fumar_Eye Dps 250mcg/ml', -0.6842105263157895, 57),
 ('Uvistat_Sun Crm Spf 50', -0.6917293233082706, 133),
 ('Haelan_Tape 7.5cm x 50cm', -0.7130434782608696, 115),
 ('Haelan_Tape 7.5cm x 20cm', -0.72, 100),
 ('Beconase_Hayfever Nsl Spy 50mcg (180 D)', -0.7384615384615385, 65),
 ('Uvistat_Sun Crm Spf 30', -0.7647058823529411, 68),
 ('Deep Freeze_Cold Gel 2%', -0.7758620689655172, 58),
 ('Adizem-SR_Tab 120mg', -0.8269230769230769, 52),
 ('Anugesic HC_Crm', -0.8541666666666666, 96),
 ('Sunsense_Sunsensitive Crm SPF 50+', -0.8562091503267973, 153),
 ('Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs', -0.875, 216),
 ('Climagest_Tab 2mg', -0.8939393939393939, 66),
 ('Climaval_Tab 2mg', -0.9015151515151515, 132),
 ('Orphenadrine HCl_Tab 50mg', -0.9117647058823529, 102),
 ('Hydroxyzine HCl_Oral Soln 10mg/5ml', -0.9148936170212766, 94),
 ('Ovysmen_Tab', -0.9253731343283582, 67),
 ('Climaval_Tab 1mg', -0.9264705882352942, 136),
 ('Climesse_Tab', -0.9420289855072463, 69),
 ('Polyalc_Eye Dps 1.4%', -0.9963235294117647, 272)]

In [52]:
grader.score.dw__script_growth(script_growth)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [111]:
p = 1 / scripts['bnf_code'].nunique()
p

0.0005063291139240507

In [112]:
rates = scripts['bnf_code'].value_counts() / scripts.shape[0]

In [113]:
scripts['rate'] = scripts['bnf_code'].apply(lambda code: rates[code])
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,chem,opioid,rare,p,rate
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,Bisacodyl,False,1,0.001064,0.001064
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,Macrogol 3350,False,1,0.005002,0.005002
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol,False,1,0.007054,0.007054
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,Chlorphenamine Maleate,False,1,0.002200,0.002200
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,Diazepam,False,1,0.002278,0.002278

In [114]:
scripts.drop('p', axis=1, inplace=True)
scripts['rare'] = scripts['rate'] < 0.1 * p
scripts['rare'] = scripts['rare'].astype(int)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,post_code,chem,opioid,rare,rate
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,CH44 5UF,Bisacodyl,False,0,0.001064
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,CH44 5UF,Macrogol 3350,False,0,0.005002
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,CH44 5UF,Salbutamol,False,0,0.007054
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,CH44 5UF,Chlorphenamine Maleate,False,0,0.002200
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,CH44 5UF,Diazepam,False,0,0.002278

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [140]:
rare_cost_prop = scripts[scripts['rare'] == 1].groupby('practice')['act_cost'].sum() / scripts.groupby('practice')['act_cost'].sum()
rare_cost_prop

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
            ...
Y05570         NaN
Y05583         NaN
Y05597         NaN
Y05660    0.000323
Y05670         NaN
Name: act_cost, Length: 856, dtype: float64

In [141]:
rare_cost_prop.fillna(0, inplace=True)

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [142]:
relative_rare_cost_prop = rare_cost_prop - scripts[scripts['rare'] == 1]['act_cost'].sum() / scripts['act_cost'].sum()
relative_rare_cost_prop

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
            ...
Y05570   -0.015963
Y05583   -0.015963
Y05597   -0.015963
Y05660   -0.015640
Y05670   -0.015963
Name: act_cost, Length: 856, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [143]:
std_error = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [144]:
rare_scores = relative_rare_cost_prop / std_error
rare_scores = rare_scores.reset_index()
rare_scores.columns=['practice', 'z_score']
rare_scores.head()

  practice   z_score
0   A81005 -0.065216
1   A81007 -0.125308
2   A81011 -0.179263
3   A81012 -0.036615
4   A81017 -0.142190

In [145]:
rare_scores = rare_scores.merge(practice_opi[['practice', 'pr_name']], on='practice')
rare_scores.head()

  practice   z_score                    pr_name
0   A81005 -0.065216         SPRINGWOOD SURGERY
1   A81007 -0.125308          BANKHOUSE SURGERY
2   A81011 -0.179263          CHADWICK PRACTICE
3   A81012 -0.036615  WESTBOURNE MEDICAL CENTRE
4   A81017 -0.142190        WOODBRIDGE PRACTICE

In [103]:
# practice_post = practice_post.reset_index()
# practice_post.drop('post_code', axis=1, inplace=True)
# practice_post.columns = ['practice', 'post']
# practice_post.columns = ['practice', 'post']
practice_post.head()

  practice      post
0   A81001  TS18 1HU
1   A81002  TS18 2AW
2   A81003  TS25 1QU
3   A81004   TS1 3BE
4   A81005  TS14 7DJ

In [146]:
rare_scores = rare_scores.merge(practice_post, on='practice')
rare_scores.head()

  practice   z_score                    pr_name      post
0   A81005 -0.065216         SPRINGWOOD SURGERY  TS14 7DJ
1   A81007 -0.125308          BANKHOUSE SURGERY  TS24 7PW
2   A81011 -0.179263          CHADWICK PRACTICE  TS24 7PW
3   A81012 -0.036615  WESTBOURNE MEDICAL CENTRE   TS3 6AL
4   A81017 -0.142190        WOODBRIDGE PRACTICE  TS17 0EE

In [147]:
rare_scores.sort_values('z_score', ascending=False, inplace=True)
rare_scores.head()

    practice    z_score                            pr_name      post
765   Y03472  16.262687           CONSULTANT DIABETES TEAM   PE1 2QP
831   Y05320  15.128648     DMC COMMUNITY DERMATOLOGY RBWF   B61 0AZ
793   Y04404   7.542139  OUTPATIENTS JUBILEE HEALTH CENTRE   SM6 0HY
766   Y03484   7.287222   DMC COMMUNITY DERMATOLOGY CLINIC  ME12 3LT
794   Y04424   6.838614                     DMC HEALTHCARE   SS8 0JA

In [150]:
rare_scripts = [(row[0], row[2], row[1]) for index, row in rare_scores.head(100).iterrows()]
rare_scripts

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.54213935610462),
 ('Y03484', 'DMC COMMUNITY DERMATOLOGY CLINIC', 7.287222200297828),
 ('Y04424', 'DMC HEALTHCARE', 6.838614181432866),
 ('Y00631', 'BINGLEY DERMATOLOGY CLINIC', 5.75599754983774),
 ('A89038', 'BARMSTON MEDICAL CENTRE', 5.664940368539935),
 ('Y01696', 'BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 4.290685171474921),
 ('Y03699', 'OLDHAM DERMATOLOGY SERVICE', 4.103743999157244),
 ('Y02045', 'VERNOVA HEALTHCARE CIC', 3.1807154704143983),
 ('Y02823', 'DMC VICARAGE LANE', 3.054121649498702),
 ('Y00997', 'COMMUNITY DERMATOLOGY SERVICE', 3.018128359535277),
 ('Y05019', 'OLDHAM TOTAL SKIN SERVICE', 2.7247515958989283),
 ('Y01003', 'BURY OOH', 2.350436347139858),
 ('Y05431', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 2.0371585432333865),
 ('Y03557', 'IPU 10-17 RECOVERY COVENTRY', 2.0304495001187792),
 ('Y05419', 'WEEKEND WORKING EASINGTON NORTH', 2.0029603055317033),
 ('Y05434', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.617815561802807),
 ('L84042', 'LONDON MEDICAL PRACTICE', 1.6040122379818667),
 ('Y04871', 'LEARNING ASSESSMENT & NEUROCARE BURY', 1.4408185020947357),
 ('Y05432', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.3052021753375485),
 ('F86057', 'THE WILLOWS PRACTICE', 1.280956281894272),
 ('L81673', 'BCH DERMATOLOGY SERVICE', 1.2779474429274984),
 ('Y04089', 'VIRGIN CARE (MIDDLESBROUGH)', 1.205585821536491),
 ('Y03762', 'BASSETLAW HEALTH PARTNERSHIP', 1.1547690310997736),
 ('Y05430', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.122760467986764),
 ('B85030', 'SCRIVINGS CLECKHEATON HLTH CTR', 1.103502377336562),
 ('P81736', 'WHITEFIELD HEALTHCARE', 1.0939581886026775),
 ('Y00570', 'GP LED DERMATOLOGY SERVICE', 1.051561915279194),
 ('Y04606', 'LANCASTER HOUSE CONTINENCE', 1.0328515953934714),
 ('P81712', 'DARWEN HEALTH CENTRE', 1.0286324480322657),
 ('Y05433', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.027801098310148),
 ('Y02943', 'NEUROLOGY LONG TERM CONDITIONS', 0.9576943719522105),
 ('P84051', 'EASTLANDS MEDICAL CENTRE', 0.9070372260702894),
 ('Y02203', 'DURHAM DALES EAST DERMATOLOGY', 0.8830665514715633),
 ('G82704', 'THE CHURCH VIEW PRACTICE', 0.8688187586905597),
 ('F81070', 'GRAFTON SURGERY', 0.8466362126602007),
 ('Y05435', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 0.8245199350473523),
 ('P82625', 'CHARLOTTE STREET SURGERY', 0.7738455888380996),
 ('P82640', 'AL FAL MEDICAL GROUP', 0.7188956515487629),
 ('F84706', 'DR SKS SWEDAN', 0.7187925567143413),
 ('Y01168', 'COMMUNITY GYNAECOLOGY SERVICE', 0.680294754937742),
 ('N81080', 'NORTHGATE MEDICAL CENTRE', 0.6661638079014608),
 ('A87022', 'NORTHUMBERLAND PARK MEDICAL GROUP', 0.6387318815059378),
 ('B83058', 'THE AVICENNA MEDICAL PRACTICE', 0.5975595360581426),
 ('M85766', 'BALSALL HEATH HEALTH CENTRE (S)', 0.5631450010961307),
 ('G81658', 'THE STATION PRACTICE', 0.5331888751077345),
 ('M85715', 'SOHO ROAD PRIMARY CARE CENTRE', 0.5292269288022778),
 ('E85659', 'DR RK KUKAR  PARKVIEW CTR FOR H&W', 0.5224575320213929),
 ('M85716', "DR KHUROO'S PRACTICE", 0.5057276127409458),
 ('B83067', 'THE SPRINGFIELD SURGERY (BINGLEY)', 0.501482611056885),
 ('B84011', 'CHURCH LANE SURGERY', 0.4971525440866812),
 ('B83032', 'BRADFORD MOOR PRACTICE', 0.4846018519341162),
 ('Y00469', "DR MA SIMS' PRACTICE", 0.4807898234276762),
 ('H81034', 'MADEIRA MEDICAL', 0.4734461208205337),
 ('A83071', 'THE NEW SEAHAM MEDICAL GROUP', 0.449331293126233),
 ('P91633', 'GROVE MEDICAL PRACTICE', 0.41490953303333816),
 ('P84032', 'DR MOKASHI', 0.41412117824419364),
 ('F84086', 'DR DRIVER & PARTNERS', 0.41010853569042116),
 ('C83041', 'THE WOODLAND MEDICAL PRACTICE', 0.40138982620908986),
 ('G82162', 'RAINHAM HEALTHY LIVING CENTRE', 0.393922979076173),
 ('A83051', 'MARLBOROUGH SURGERY', 0.3778275531156093),
 ('C84714', 'SUNRISE MEDICAL PRACTICE (GHATTAORA)', 0.36171473108349395),
 ('B82016', 'EAST PARADE SURGERY', 0.3557702463337187),
 ('C84691', 'HIGHGREEN PRACTICE (KHAN)', 0.3433615333473626),
 ('L82001', 'LANDER MEDICAL PRACTICE', 0.33235665421941707),
 ('G84027', 'ELM HOUSE SURGERY', 0.32992048438337207),
 ('Y02957', 'LEWISHAM GP LED HEALTH CENTRE', 0.32435502195888544),
 ('G85095', 'MANOR PLACE SURGERY', 0.31837462196154365),
 ('E82656', 'CASSIO SURGERY - E82656', 0.30990494051873824),
 ('M91017', 'NORTHGATE MEDICAL CENTRE', 0.30899661675601364),
 ('L84008', "ST.GEORGE'S SURGERY", 0.3030552835025272),
 ('P81099', 'DR THM MACKENZIE & PARTNERS', 0.2999109640678622),
 ('E85018', "DR SOOD'S PRACTICE", 0.28911226062072876),
 ('Y04951', 'ARDEN HEALTHCARE CENTRE', 0.2887489271620815),
 ('N82051', 'BREEZE HILL - SSP HEALTH LIMITED', 0.28046854394239895),
 ('H81097', 'RIVER WEY MEDICAL PRACTICE', 0.2791932466218151),
 ('C82667', 'THE CHARNWOOD PRACTICE', 0.27023096949600767),
 ('C87622', 'GATEWAY PRIMARY CARE', 0.2664585596184689),
 ('E85723', 'NORTHOLT FAMILY PRACTICE', 0.26528020519467377),
 ('C84013', 'BRIDGEGATE AND TALL TREES PARTNERSHIP', 0.26366935264953073),
 ('E85126', 'GREEN PRACTICE', 0.26221153146662574),
 ('P92024', 'THE CHANDLER SURGERY', 0.26051575498627844),
 ('Y01929', 'TELDOC', 0.25690238903585116),
 ('K82078', 'DR ALLAN AND PARTNERS', 0.2533573488637121),
 ('M85068', 'THE VESEY PRACTICE', 0.25158414215632147),
 ('G85034', 'NEXUS HEALTH GROUP', 0.2478114526939599),
 ('P88023', 'HEALD GREEN HEALTH CENTRE 2', 0.24216851539060344),
 ('M83629', 'DRAYTON ROAD SURGERY', 0.2336160725696232),
 ('M83063', 'NORTON CANES HEALTH CENTRE', 0.23290147960328128),
 ('H81615', 'FARNHAM DENE MEDICAL PRACTICE', 0.23242313968072845),
 ('D81024', 'THOMAS WALKER', 0.22415411809062796),
 ('K83051', 'WEAVERS MEDICAL', 0.22201042583580333),
 ('G85134', 'THE LISTER PRIMARY CARE CENTRE', 0.21810202517578295),
 ('Y00278', 'DARLASTON HEALTH CENTRE-KHAN', 0.21228353307860784),
 ('Y02671', 'THE PRACTICE HEART OF HOUNSLOW', 0.20880880182432582),
 ('F84631', 'DR PI ABIOLA', 0.20539081662007141),
 ('B81012', 'DR AP KUMAR', 0.20369059525865613),
 ('C83613', 'CAISTOR HEALTH CENTRE', 0.20350023874284506),
 ('M91614', 'STROUD PRACTICE', 0.20050528609272353)]

In [151]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*